<<<<<<< HEAD
#inspiration {
  .page {
    padding: 16px 0;
    @include card-page;
  }

  .content {
    padding: 16px;
    /deep/.full {
      .bg,
      img {
        border-radius: 3px;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }
}
=======
#inspiration {
  .page {
    padding: 16px 0;
    @include card-page;
  }

  .content {
    padding: 16px;
    /deep/.full {
      .bg,
      img {
        border-radius: 3px;
      }
    }
  }

  .btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
  }
}
>>>>>>> 09fc29a01cc37279c08306fc328fe3733f559db1
